# Entornos virtuales
.venv/
venv/
pandas3d_env/

# Caché de Python
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Pruebas
.pytest_cache/

# Archivos locales
.local_packages/

# Metadatos de instalación editable
*.egg-info/

# Sistema operativo
.DS_Store
Thumbs.db
